footer {
  overflow: hidden;
  position: relative;
  background: var(--primary);
  margin-top: 5rem;
  > * {
    z-index: 1;
  }
  > :first-child {
    width: 262px;
    ul {
      list-style: none;
      > li {
        font-size: 1.2rem;
        margin-bottom: 8px;
      }
      a {
        text-decoration: none;
      }
    }
  }
  > :last-child {
    width: 368px;
  }
}

#footer-icon {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.3;
  height: max-content;
}

#footer-site-title {
  font-family: "pangaia";
  font-size: 4.5rem;
  margin: 1.5rem 0;
}

#footer-since {
  font-family: "pangaia";
  font-size: 1.2rem;
}
