#navbar {
  padding: 16px;
  > img {
    min-width: 800px;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.3;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}
#navbar-brand {
  color: var(--white);
  font-family: "pangaia";
  > :first-child {
    font-size: calc(1.225rem + 1vw);
    line-height: calc(1.225rem + 1vw);
    padding: 16px 16px 4px;
  }
  /* > :last-child {
    color: var(--dark);
    font-size: calc(0.8rem + 1vw);
  } */
}
#navbar-menu-open {
  background: url("/menu-open.svg");
}
#navbar-menu-close {
  background: url("/menu-close.svg");
}
#navbar-menu-open,
#navbar-menu-close {
  background-size: contain;
}
