---

---

<nav id="navbar" class="close">
  <img src="/banniere.svg" />
  <div id="navbar-responsive">
    <a id="navbar-brand" href="/">
      <span>Mélisse</span>
      <span>Sérigraphie</span>
    </a>
    <button id="navbar-menu-open"> </button>
    <button id="navbar-menu-close"> </button>
  </div>
  <div id="navbar-menu">
    <a href="/gallery">Gallery</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
